{
    "dynalistKey": "<type your key>",
    "workflowyKey": "<type your key>",
    "slackbot": "<type your key>",
    "backup": {
        "location": "<folder on disk>",
        "files": ["<fileName1>","<fileName2>"]
    },
    "changelogMessenger": { 
        "backupBase": "ektimo_",
        "channelMapper": [
            {"file":"<fileName1>", "channel": "<#channelName1>"},
            {"file":"<fileName2>", "channel": "<#channelName2>"}
        ]
    }
}